/*
  Creator: Aivaras Tumas
  The University of Manchester
  School of Computer Science
  3rd Year Project
*/
@font-face {
    font-family: raleway_thin;
    src: url("./fonts/Raleway-Thin.ttf");
}
@font-face {
    font-family: raleway_bold;
    src: url("./fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: raleway;
    src: url("./fonts/Raleway-Regular.ttf");
}
body {
    margin: 0%;
	position: absolute;
	font-family: raleway;
}
body{
    margin: 0%;
    padding: 0%;
	position: absolute;
    overflow-x: hidden;
	background-color: #222222;
    text-align: center;
    color: #FFFFFF;
}
textarea:focus, input:focus, span:focus{
    outline: none;
}
.ui-slider .ui-slider-handle {
    width: 3vw;
    padding: 0.5vw 1vw 0.3vw 1vw;
    margin: -0.3vw 0vw 0vw 0vw;
}
.ui-state-default:first-of-type, .ui-widget-content .ui-state-default:first-of-type, .ui-widget-header .ui-state-default:first-of-type {
    color: #FFFFFF;
    background-color: #464646;
    border: none;
    border: 1px solid #333333;
    cursor: pointer;
}
#header{
	width: 100vw;
	height: 5.5vw;
	position: fixed;
	background-color: #333333;
	border-bottom: 1px solid #1A1A1A;
}
#title{
	display: inline-block;
	padding: 2vw 0vw 0vw 0vw;
}
#logout_button{
	display: inline-block;
	float: right;
	padding: 2vw 3vw 1.8vw 3vw;
	border: 1px solid #444444;
	cursor: pointer;
}
#logout_button:hover{
	background-color: #3F3F3F;
}
#holder{
	display: block;
	width: 20.3vw;
	margin: 4vw 0vw 0vw 36vw;
	padding: 3vw 3vw 3vw 3vw;
	background-color: #555555;
	text-align: center;
	border-radius: 1vw;
}
#top_name{
	display: block;
	margin: 2vw 0vw 0vw 34vw;
	color: #FFFFFF;
	font-size: 3vw;
}
.index_buttons{
	transition: 0.5s;
	display: block;
	width: 20vw;
	height: 0vw;
	margin: 0.5vw 0vw 0vw 0vw;
	padding: 2.2vw 0vw 3vw 0vw;
	font-size: 1vw;
	color: #444444;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: top;
	border: none;
	border-radius: 0.6vw;
	cursor: pointer;
}
.index_buttons:hover{
	transition: 0.5s;
	color: #FFFFFF;
	background-color: #444444;
}
.index_fields{
	display: block;
	width: 20vw;
	height: 2vw;
	padding: 0vw 0vw 0vw 1vw;
	background-color: #FFFFFF;
	border: none;
	border: 1px solid #444444;
	border-radius: 0.4vw;
}
.new_project_block{
	display: inline-block;
	width: 20vw;
	min-height: 11.5vw;
	margin: 1vw 0.5vw 1vw 0.5vw;
	padding: 8vw 0vw 2vw 0vw;
	vertical-align: top;
	text-align: center;
	background-color: #222222;
	border: 1px solid #111111;
	border-radius: 0.6vw;
	cursor: pointer;
	overflow: hidden;
}
.project_block{
	display: inline-block;
	width: 20vw;
	max-height: 19.5vw;
	margin: 1vw 0.5vw 1vw 0.5vw;
	padding: 0vw 0vw 2vw 0vw;
	vertical-align: top;
	text-align: center;
	background-color: #222222;
	color: #FFFFFF;
	border: 1px solid #111111;
	border-radius: 0.6vw;
	overflow: hidden;
}
.new_project_block:hover{
	background-color: #333333;
}
.project_top{
	height: 5.55vw;
	background-color: #555555;
}
.project_top:hover{
	background-color: #5F5F5F;
}
.project_bottom{
	width: 20vw;
	height: 11vw;
	padding: 1.5vw 0vw 5vw 0vw;
	overflow: hidden;
	border-radius: 3vw;
	cursor: pointer;
}
.project_title{
	display: inline-block;
	width: 15vw;
	margin: 0vw 0vw 2vw 0vw;
	padding: 2vw 0vw 2vw 2.5vw;
	vertical-align: top;
	border-bottom: 1px solid #111111;
}
.project_delete_button_holder{
	display: inline-block;
	width: 2.5vw;
	padding: 2.1vw 0vw 2vw 0vw;
}
.project_delete_button{
	float: right;
	width: 1.5vw;
	margin: 0vw 1vw 0vw 0vw;
	cursor: pointer;
}
.project_image{
	height: 12vw;
	margin: 0vw 0vw 0vw -2.3vw;
}
#add_new_project_logo{
	width: 5vw;
}
#projects_dashboard{
	width: 90vw;
	margin: 5vw 0vw 4vw 3vw;
	padding: 2vw 2vw 2vw 2vw;
	background-color: #4F4F4F;
}
#back_button{
	transition: 0.5s;
	display: block;
    position: absolute;
	width: 5vw;
	height: 5vw;
	margin: 0.8vw 0vw 0vw 1.3vw;
	cursor: pointer;
	background-size: 100% 100%;
	background-image: url("./images/back.png");
}
#back_button:hover{
	transition: 0.5s;
	background-image: url("./images/back_hovered.png");
}
#save_button, #save_button_new_project{
	transition: 0.5s;
    position: absolute;
	width: 8vw;
	height: 2vw;
	margin: 1.4vw 0vw 0vw 62vw;
	padding: 1vw 0vw 0vw 0vw;
	font-size: 1.1vw;
	font-family: raleway_thin;
	color: #FFFFFF;
	background-color: #6daa44;
	border-radius: 0.5vw;
	cursor: pointer;
}
#save_button:hover, #save_button_new_project:hover{
	transition: 0.5s;
	color: #6daa44;
	background-color: #FFFFFF;
}
.layer_options{
	width: 5vw;
	height: 2vw;
	padding: 0.8vw 0vw 0vw 0vw;
	font-family: raleway_thin;
	color: #FFFFFF;
	background-color: #6daa44;
	border-radius: 0.4vw;
}
.layer_options:hover{
	color: #6daa44;
	background-color: #FFFFFF;
}
.layer_options_selected{
	width: 5vw;
	height: 2vw;
	padding: 0.8vw 0vw 0vw 0vw;
	font-family: raleway_thin;
	color: #6daa44;
	background-color: #FFFFFF;
	border-radius: 0.4vw;
}
#layer_select{
    position: absolute;
	margin-top: 29.8vw;
	margin-left: 22.8vw;
}
#layer_1{
    position: absolute;
	width: 2.8vw;
	cursor: pointer;
}
#layer_2{
    position: absolute;
	width: 2.8vw;
	margin-left: 3vw;
	cursor: pointer;
}
#layer_3{
    position: absolute;
	width: 2.8vw;
	margin-left: 6vw;
	cursor: pointer;
}
#layer_4{
    position: absolute;
	width: 2.8vw;
	margin-left: 9vw;
	cursor: pointer;
}
#layer_5{
    position: absolute;
	width: 2.8vw;
	margin-left: 12vw;
	cursor: pointer;
}
#layer_6{
    position: absolute;
	width: 2.8vw;
	margin-left: 15vw;
	cursor: pointer;
}
#layer_7{
    position: absolute;
	width: 2.8vw;
	margin-left: 18vw;
	cursor: pointer;
}
#layer_8{
    position: absolute;
	width: 2.8vw;
	margin-left: 21vw;
	cursor: pointer;
}
#layer_9{
    position: absolute;
	width: 2.8vw;
	margin-left: 24vw;
	cursor: pointer;
}
#drawing_block{
	width: 100vw;
	margin: 0vw 0vw 4vw 0vw;
	padding: 8vw 0vw 3vw 0vw;
	background-color: #151515;
	text-align: center;
	vertical-align: top;
}

#canvas_block{
	display: inline-block;
	border: 3px solid #AAAAAA;
}
#canvas{
	background-color: #FFFFFF;
	width: 40vw;
	height: 40vw;
}
.control_values{
	color: #FFFFFF;
	z-index: 999;
}
#control_block{
	display: inline-block;
	width: 21vw;
	height: 30.6vw;
	margin: 0vw 1vw 0vw 1vw;
	padding: 1.5vw 2vw 2vw 2vw;
	text-align: center;
	vertical-align: top;
	background-color: #222222;
	border: 3px solid #AAAAAA;
}
.control_left{
	display: inline-block;
	width: 10vw;
}
#run_button{
	transition: 0.5s;
	width: 100%;
	height: 3.8vw;
	margin: 2vw 0vw 0vw 0vw;
	padding: 2vw 0vw 0vw 0vw;
	border-radius: 0.5vw;
	font-size: 2vw;
	font-family: raleway_thin;
	background-color: #6daa44;
	cursor: pointer;
}
#run_button:hover{
	transition: 0.5s;
	color: #6daa44;
	background-color: #FFFFFF;
}
#name_input{
	width: 21vw;
	height: 2vw;
	margin: 1vw 0vw 1vw 0vw;
	border: none;
	border-radius: 0.3vw;
}
#width_slider{
	margin: 1vw 0vw 1vw 0vw;
}
#colour_R_slider{
	margin: 1vw 0vw 1vw 0vw;
	background-color: #AA0000;
}
#colour_G_slider{
	margin: 1vw 0vw 1vw 0vw;
	background-color: #00AA00;
}
#colour_B_slider{
	margin: 1vw 0vw 1vw 0vw;
	background-color: #0000AA;
}
#control_buttons_block{
    margin: 0 auto;
	width: 20vw;
	height: 13vw;
	background-color: #DDDDDD;
}
.control_buttons{
	margin: 0 auto;
	width: 10vw;
	height: 3vw;
	text-align: center;
	font-size: 1vw;
	cursor: pointer;
	border: 1px solid #444444;
}
#cube_left{
	display: inline-block;
	margin: 0vw 4vw 0vw 0vw;
}
#cube_right{
	display: inline-block;
}
#new_cube{
	margin: 0 auto;
	margin-bottom: 2vw;
	width: 5vw;
	height: 3vw;
	text-align: center;
	border: 1px solid #444444;
}
#control_camera_block{
    margin: 0 auto;
    margin-top: 2vw;
	width: 20vw;
	height: 13vw;
	background-color: #DDDDDD;
}
#camera_X_in, #camera_X_out, #camera_Y_in, #camera_Y_out, #camera_Z_in, #camera_Z_out{
	display: inline-block;
}

#new_line_X, #new_line_Y, #new_line_Z, #rotate_X, #rotate_Y, #rotate_Z, #new_line_length{
	display: inline-block;
	margin: 0 auto;
}
.control_coordinates{

}
#update_X, #update_Y, #update_Z, #update_rotate_X, #update_rotate_Y, #update_rotate_Z, #update_length{
	display: inline-block;
}









